<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="masquerade.substratum"
          android:versionCode="20"
          android:versionName="twenty - procyon">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/substratum_masquerade"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="masquerade.substratum.services.BootDetector">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".services.UninstallDetector">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".util.Helper">
            <intent-filter>
                <action android:name="masquerade.substratum.COMMANDS"/>
            </intent-filter>
        </receiver>

        <activity android:name="masquerade.substratum.activities.LoaderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="masquerade.substratum.INITIALIZE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
